*.o
.deps
.dirstamp
Makefile
autom4te.cache
config.h*
config.log
config.status
libtool
stamp-h1
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
compare.tst
msta
msta.tst
quality.tst
yacc.c
